<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>OnlineStore</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="grid">
    <h1>Welcome!!</h1>

    <form action="/product" method="POST">
      <label for="name">Name Of Product:</label>
      <input type="text" placeholder="name.." name="name" /><br>
      <label for="description">Description Of Product:</label>
      <input type="text" placeholder="description.." name="description"><br>
      <label for="price">Price Of Product:</label>
      <input type="number" placeholder="price($)" name="price" /><br>
      <button type="submit" class="enter">Submit</button>
    </form>
  </div>    
   <section>
     <h3>Products</h3>
     <ul class="products">
  
      <% for(var i = 0; i < product.length; i++) {%>
        <li class="product">
          <label for="name" class="tab">Name:</label>
          <span><%= product[i].name %></span>
          <label for="price" class="tab">Description:</label>
          <span><%= product[i].description %></span>
          <label for="price" class="tab">Price:</label>
          <span><%= product[i].price %></span>
          <div class="option">
          <span>
            <a href="/product/update/{{this._id}}"  class="tab">
              <i class="fa fa-pencil fa-lg" aria-hidden="true"></i>
            </a>
          </span>
          <span>
            <a href="/product/delete/{{this.id}}" 
                onclick="return confirm('Are you sure to delete this product ?');" class="tab" >
              <i class="fa fa-trash fa-lg" aria-hidden="true"></i>
            </a>
          </span>
        </div>
        </li>
        <hr>
      <% } %>
    </ul>
   </section>
  </body>
</html>
