<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>OnlineStore</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <div class="grid">
    <h1>Welcome!!</h1>

    <form method="POST" action="/product">
      <label for="name">Name Of Product:</label>
      <input type="text" placeholder="name.." name="name" /><br>
      <label for="description">Description Of Product:</label>
      <input type="text" placeholder="description.." name="description"><br>
      <label for="price">Price Of Product:</label>
      <input type="number" placeholder="price($)" name="price" /><br>
      <button type="submit" class="enter">Submit</button>
    </form>
  </div>
  
  </body>
</html>
